body {
  background-color: grey;

}

h1, h2, h3, h4, h5, h6
{
  text-decoration: underline;
  text-align: center;
  font-family: fantasy;
}

div{
  background-color: #4F2C73;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
