h1 {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

#ingresojugada{
  text-align: center;
  font-style: italic;
  font-size: small;
}

#adminLogin{
  margin-top: 250px;
  position: absolute;
  bottom: 70px;
  right: 20px;
}

.container {
  width: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 80px;
}

.jumbotron {
  text-align: center;
  width: 50%;
  margin: auto;
  min-width: 150px;
}

.botones{
  white-space: normal !important;
}

.pull-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
